@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-family: "Outfit";
  background-color: hsl(217, 54%, 11%);
  line-height: 2;
}

img,
svg {
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.card {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 375px;
  border-radius: 0.5em;
  height: 50%;
  background-color: hsl(225, 100%, 98%);
}

h3 {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

h3:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

p {
  font-size: 1.05rem;
  color: hsl(0, 0%, 100%);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-image {
  border-radius: 20px;
  height: auto;
}

.overlay-image {
  opacity: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  background-color: hsl(178, 100%, 50%);
}

.nft-wrapper:hover .overlay-image {
  opacity: 0.8;
  width: 325px;
  height: 325px;
}

.icon-wrapper {
  position: absolute;
  top: 45%;
  left: 45%;
}

.container {
  border-radius: 20px;
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caption {
  color: hsl(215, 51%, 70%);
}

.price-container {
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 5px;
}

.promo-container {
  display: flex;
  align-items: center;
}

.promo-text {
  color: hsl(215, 51%, 70%);
  padding: 0px 0px 0px 5px;
}

hr {
  border: 0;
  padding: 0;
  height: 1px;
  margin: 1em 0;
  display: block;
  border-top: 2px solid hsl(215, 32%, 27%);
}

.creator-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
}

.author-name {
  padding: 0px 0px 0px 20px;
}

.author-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
