@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  font-family: "Outfit";
  background-color: hsl(217, 54%, 11%);
}

h3 {
  color: hsl(0, 0%, 100%);
}

h3:hover {
  color: hsl(178, 100%, 50%);
}

p {
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}

.price {
  color: hsl(178, 100%, 50%);
}

.view-icon {
  border-radius: 10px;
  background-color: hsl(178, 100%, 50%);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid hsl(215, 32%, 27%);
  margin: 1em 0;
  padding: 0;
}

.nft-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft-image {
  border-radius: 10px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  padding: 25px 25px 25px 25px;
}

.avatar {
  border-radius: 50%;
  border: 2px solid aliceblue;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 5px;
}

.promo-container {
  display: flex;
  align-items: center;
}

.author {
  color: hsl(215, 51%, 70%);
}

.promo-text {
  color: hsl(215, 51%, 70%);
  padding: 0px 0px 0px 5px;
}

.caption {
  color: hsl(215, 51%, 70%);
}

.creator-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author-name {
  padding: 0px 0px 0px 20px;
}
.author-name:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
