*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: aqua;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.replies {
  gap: 15px;
  padding: 0.5em;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid red;
}

.comment-box {
  gap: 20px;
  padding: 1em;
  display: flex;
  border-radius: 10px;
  align-items: center;
  border: 1px solid red;
}

.comment-container {
  max-width: 90%;
  /* min-width: 30%; */
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.main-comment {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.user-detail {
  gap: 30px;
  display: flex;
  align-items: center;
}

.user-post {
  gap: 5px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.reply-link {
  gap: 10px;
  display: flex;
  align-items: center;
}

.modal-background {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  top: 20%;
  left: 50%;
  width: 400px;
  height: 300px;
  padding: 25px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: red;
  justify-content: center;
  transform: translate(-50%);
  /* gap: 20px; */
}

.modal-btn {
  display: flex;
  align-items: left;
  justify-content: space-around;
}
