.brand-img {
  position: absolute;
  width: 193px;
  height: auto;
  left: 221px;
  top: 50.25px;
}

.app-store-btn {
  position: absolute;
  width: 138.44px;
  height: 46.28px;
  left: 221px;
  top: 531px;
}

.google-play-btn {
  position: absolute;
  width: 156.19px;
  height: 46.28px;
  left: 381.81px;
  top: 531px;
}

.app-store-btn img {
  width: 138.44px;
  height: 46.28px;
}

.google-play-btn img {
  width: 156.19px;
  height: 46.28px;
}

.main-image-container {
  position: absolute;
  width: 535.72px;
  height: 309.27px;
  left: 683.28px;
  top: 229.73px;
}

.main-image-container img {
  width: 535.72px;
  height: 309.27px;
}
