
.navbar {
  position: absolute;
  width: 1440px;
  height: 96px;
  left: 0px;
  top: -12px;
}

.App {
  position: relative;
  width: 1440px;
  height: 900px;
  background: #F5A05C;
}

.social {
  position: absolute;
  width: 451.33px;
  height: 55px;
  left: 120px;
  top: 765px;
}

