*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

h1,h2 {
  margin-top: 0;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
}

/* .header {
  background-color: #F3EED9;
} */
.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.header {
  background: #F3EED9;
  padding: 200px 0;
  color: #824936;
  text-align: center;
}

.header-text {
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 1rem;
}

.header-title {
  text-align: center;
}

.first-section {
  height: 200px;
}

.first-title {
  text-align: center;
} 

.second-section {
  background: #222C2A;
  color: white;
  height: 200px;
}
.third-section {
  color: white;
  background: #824936;
  height: 200px;
}